@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;

  src: local(''),
    url('./fonts/inter-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter-v7-latin-regular.woff2') format('woff2'),
    url('./fonts/inter-v7-latin-regular.woff') format('woff'),
    url('./fonts/inter-v7-latin-regular.ttf') format('truetype'),
    url('./fonts/inter-v7-latin-regular.svg#Inter');
}

html,
body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-hero{
  background: rgb(22,64,63);
background: linear-gradient(137deg, rgba(22,64,63,1) 0%, rgba(38,77,76,1) 19%, rgba(38,77,76,1) 22%, rgba(22,64,63,1) 29%, rgba(38,77,76,1) 40%, rgba(22,64,63,1) 46%, rgba(38,77,76,1) 55%, rgba(22,64,63,1) 63%, rgba(22,64,63,1) 75%);
}

.swiper-pagination-bullet-active {
  background-color: #16403f !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}